asgiref==3.8.1
Django==5.1.7
sqlparse==0.5.3
python-dotenv==1.1.0
django-cors-headers==4.7.0
whitenoise==6.9.0
PyMySQL==1.1.1
django-vnpay==0.0.19
humanize==4.12.2
Pillow==11.1.0
cryptography==44.0.2
django-smtp-ssl==1.0
pytz==24.3.1
certifi==2024.2
# django-mathfilters
